.jimu-widget-erg-setting{
  margin:0;
  padding:0;
  font-size:15px;
}

.jimu-widget-erg-setting h3 {
  color: rgb(89, 102, 121);
}

.jimu-widget-erg-setting textarea {
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
  overflow-y: scroll;
}
.jimu-widget-erg-setting .dijitArrowButtonContainer{
  width: 17px;
}
.jimu-widget-erg-setting .dijitSelect{
  height: 30px;
  width: 100%;
}
.jimu-widget-erg-setting .setting-table > thead > tr > th,
.jimu-widget-erg-setting .setting-table > tbody > tr > td{
  height:40px;
  line-height:40px;
  vertical-align:middle;
}

.jimu-widget-erg-setting .input-table > tbody > tr > .first{
    width:auto;
    text-align: right;
    padding-right:15px;
    min-width: 200px;
}

.jimu-widget-erg-setting .input-table > tbody > tr > .second{
    width:650px;
}

.jimu-widget-erg-setting .addButton {
  font-family: arial;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 14px;
  padding: 2px 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #24B5CC;
  background: #24B5CC;
  margin-left: 2px;
}

.jimu-widget-erg-setting .addButton:hover {
  color: #FFFFFF;
  background: #0090A7;
  border: 2px solid #0090A7;
}

 .jimu-widget-erg-setting .toggle-container {
     margin-bottom: 12px;
     border: 1px solid #ccc;
 }

 .jimu-widget-erg-setting .toggle-container .toggle-header {
     padding: 5px 10px;
     background: #999;
     cursor:pointer;
 }

 .jimu-widget-erg-setting .toggle-container .toggle-header .header-text {
     font-size: 18px;
     line-height: 24px;
 }

 .jimu-widget-erg-setting .toggle-container .toggle-header .header-text.white {
     color: #FFFFFF;
 }

 .jimu-widget-erg-setting .toggle-container .toggle-header .header-text.orange {
     color: #f60;
 }

 .jimu-widget-erg-setting .toggle-container .toggle-header .header-text.green {
     color: green;
 }

 .jimu-widget-erg-setting .toggle-container .toggle-content {
     margin-top: -1px;
     padding: 10px 15px;
     display: none;
 }