<?xml version="1.0" encoding="UTF-8"?>

<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" >

	<reference id="spatialService" interface="com.esri.ges.spatial.Spatial"/>
	<reference id="geoDefManagerService" interface="com.esri.ges.manager.geoeventdefinition.GeoEventDefinitionManager"/>
  	<bean id="cotAdapterInBean" class="com.esri.geoevent.solutions.adapter.cot.CoTAdapterServiceInbound" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext" />
		<property name="geoEventDefManager" ref="geoDefManagerService"/>
	</bean>
<!---->	
	<bean id="cotAdapterOutBean" class="com.esri.geoevent.solutions.adapter.cot.CoTAdapterServiceOutbound" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext" />
	</bean>	

	<service id="cotService" ref="cotAdapterInBean" interface="com.esri.ges.adapter.AdapterService"/>
<!-- -->
	<service id="cotServiceOut" ref="cotAdapterOutBean" interface="com.esri.ges.adapter.AdapterService"/>


</blueprint>
